<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.kro.runleaf.repository.MemberRepository">

	<!-- 회원 가입 -->
	<insert id="insertMember" parameterType="Member" useGeneratedKeys="true" keyProperty="memberId">
		INSERT INTO member(
		username,
		password, email, phone, total_dist, total_running_second, role
		) VALUES (
		#{username}, #{password},
		#{email}, #{phone}, #{totalDist}, #{totalRunningSecond}, #{role}
		)
	</insert>

	<!-- 아이디 중복 체크 -->
	<select id="existsByUsername" parameterType="String" resultType="int">
		SELECT COUNT(*) FROM member WHERE username = #{username}
	</select>

	<!-- 회원 이미지 등록 -->
	<insert id="insertMemberFile" parameterType="MemberFile">
		INSERT INTO
		member_file (file_path, org_name, system_name, member_id)
		VALUES (
		#{filePath}, #{orgName}, #{systemName}, #{memberId})
	</insert>

	<!-- 회원 조회(username) -->
	<select id="selectMemberByUsername" parameterType="String"
		resultType="kr.kro.runleaf.domain.Member">
		SELECT member_id, username, password, email, phone, total_dist, total_running_second, role
		FROM member
		WHERE username = #{username}
	</select>
	

	<!-- 회원번호 조회 -->
	<select id="getMemberId" parameterType="String" resultType="int">
		SELECT member_id
		FROM member
		WHERE username = #{username}
	</select>

	<!-- 회원 이미지 조회 -->
	<select id="selectMemberFileByMemberId" parameterType="int" resultType="kr.kro.runleaf.domain.MemberFile">
		SELECT member_file_id,
			member_id AS memberId,
			file_path AS filePath,
			org_name AS orgName,
			system_name AS systemName
		FROM member_file
		WHERE member_id = #{member_id}
	</select>

	<!-- 회원 수정 -->
	<update id="updateMember" parameterType="kr.kro.runleaf.dto.MemberEditRequest">
		UPDATE member
		SET email = #{email}, phone = #{phone}
		WHERE username = #{username}
	</update>

	<!-- 총 거리, 시간 변경 -->
	<update id="updateDistAndRunningSecond" parameterType="kr.kro.runleaf.dto.RunningDataRequest">
		UPDATE member
		SET total_dist = #{totalDist}, total_running_second = #{totalRunningSecond}
		WHERE username = #{username}
	</update>
	
	<!-- 회원 프로필 수정 -->
	<update id="updateMemberFile" parameterType="kr.kro.runleaf.domain.MemberFile">
        UPDATE member_file
        SET file_path = #{filePath}, org_name = #{orgName}, system_name = #{systemName}
        WHERE member_id = #{memberId}
    </update>

	<!-- 회원 삭제 -->
	<!-- <delete id="deleteMember" parameterType="int">
		DELETE FROM book
		WHERE id
		= #{id}
	</delete> -->
</mapper>
